.special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.special-got {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 200;
    font-size: 20px;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 2vw;
    padding: 10px;
    color: white;
    background-color: rgb(31, 28, 28) ;
}
header{
    background-color: rgb(31, 28, 28)s;
    height: 200px;
    text-align: center;
    padding: 50px;
}
footer{
    height: 100px;
    background-color: rgb(31, 28, 28)s;
    padding: 40px;
    text-align: center;
}
img{
    width: 450px;
    
}
.containergrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


